// Переменные, миксины, функции
@import "helpers/variables";
@import "helpers/optimize";
@import "helpers/media-classes";

// Основное
@import "base/general";

// Блоки
@import "../blocks/modules/header/header";
@import "../blocks/modules/footer/footer";
@import "../blocks/modules/start-section/start-section";
@import "../blocks/modules/company-section/company-section";
@import "../blocks/modules/services-section/services-section";
@import "../blocks/modules/technology-section/technology-section";
@import "../blocks/modules/why-section/why-section";
@import "../blocks/modules/team-section/team-section";
@import "../blocks/modules/reviews-section/reviews-section";
@import "../blocks/modules/popups/popups";
