<!DOCTYPE html>
<html lang="ru" class="hidden-scrollbar">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="base-page">
      <div class="container error-page__container">
        <section class="page-section start-contacts-srction">
          <div class="start-contacts-srction__decor"></div>
          <div class="start-contacts-srction__decor"></div>
          <div class="start-contacts-srction__decor"></div>
          <div class="container">
            <div class="page-section__wrapper w-sidebar">
              <div class="page-section__sidebar">
                <div class="page-section__sidebar-container">
                  <div class="breadcrumbs">
                    <a href="#" class="breadcrumbs__item">Главная</a>
                    <a href="#" class="breadcrumbs__item">404</a>
                  </div>
                  <h1 class="h2">Страница не найдена</h1>
                  <div class="sub40">
                    <p>
                      Страницы, к которой вы пытаетесь получить доступ, не существует. Пожалуйста, вернитесь назад и
                      повторите попытку.
                    </p>
                  </div>
                </div>
              </div>
              <div class="start-contacts-srction__img error-image">
                <img src="./img/404.svg" alt="" class="fit-cover" />
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
