<!DOCTYPE html>
<html lang="ru" class="custom-scrollbar">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <section
        class="company-start-window page-section"
        style="background: url(./img/company-start-section-min.jpg) center/ cover no-repeat"
      >
        <div class="company-start-window__content container">
          <h1 class="h2">
            Надежные решения <br />
            веб и мобильной <br />
            разработки
          </h1>
          <button class="button is-white use-arrow">
            Подробнее о компании
            <div class="button__arrow">
              <svg width="37" height="36" viewBox="0 0 37 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M26.041 10.7734L11.002 25.1335"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M15.4824 10.7012L26.0401 10.7722L26.1161 20.8547"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </button>
        </div>
      </section>
      @@include("../blocks/modules/about-section-2/about-section-2.html")
      @@include("../blocks/modules/values-accordion-section/values-accordion-section.html")
      @@include("../blocks/modules/why-section/why-section.html")
      @@include("../blocks/modules/clients-section/clients-section.html")
      @@include("../blocks/modules/reviews-section/reviews-section.html")
      @@include("../blocks/modules/request-form-section/request-form-section.html")
    </main>

    @@include("../blocks/modules/footer/footer.html")
    <!-- @@include("../blocks/modules/popups/popups.html") -->
    @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
