<!DOCTYPE html>
<html lang="ru" class="custom-scrollbar">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="base-page">
      <style>
        .site-links {
          display: flex;
          flex-direction: column;
          padding: 4rem 0 6rem;
        }

        .site-links__item {
          font-weight: 500;
          font-size: 2rem;
          margin-bottom: 2rem;
          text-transform: uppercase;
          width: max-content;
        }
      </style>
      <div class="container">
        <div class="site-links">
          <a href="./home.html" target="_blank" class="site-links__item">Главная</a>
          <a href="./company.html" target="_blank" class="site-links__item">О компании</a>
          <a href="./faq.html" target="_blank" class="site-links__item">FAQ</a>
          <a href="./contacts.html" target="_blank" class="site-links__item">Контакты</a>
          <a href="./services.html" target="_blank" class="site-links__item">Услуги</a>
          <a href="./prices.html" target="_blank" class="site-links__item">Цены</a>
          <a href="./tenders.html" target="_blank" class="site-links__item">Участие в тендерах</a>
          <a href="./portfolio.html" target="_blank" class="site-links__item">Портфолио</a>
          <a href="./project.html" target="_blank" class="site-links__item">Страница проекта</a>
          <a href="./text-page.html" target="_blank" class="site-links__item">Текстовая</a>
          <a href="./404.html" target="_blank" class="site-links__item">404</a>
        </div>
      </div>
    </main>
    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
