<!DOCTYPE html>
<html lang="ru" class="hidden-scrollbar">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      @@include("../blocks/modules/start-section/start-section.html")
      @@include("../blocks/modules/company-section/company-section.html")
      @@include("../blocks/modules/services-section/services-section.html")
      @@include("../blocks/modules/technology-section/technology-section.html")
      @@include("../blocks/modules/why-section/why-section.html")
      @@include("../blocks/modules/team-section/team-section.html")
      <!-- @@include("../blocks/modules/reviews-section/reviews-section.html") -->
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/popups/popups.html")
    @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
