<!DOCTYPE html>
<html lang="ru" class="custom-scrollbar">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <section
        class="company-start-window page-section"
        style="background: url(./img/company-start-section-min.jpg) center/ cover no-repeat"
      >
        <div class="company-start-window__content container">
          <h1 class="h2">
            Участие <br />
            в тендерах
          </h1>
        </div>
      </section>

      @@include("../blocks/modules/range-of-services-section-2/range-of-services-section-2.html")
      @@include("../blocks/modules/tenders-factor-section/tenders-factor-section.html")
      @@include("../blocks/modules/request-form-section/request-form-section.html")
    </main>

    @@include("../blocks/modules/footer/footer.html")
    <!-- @@include("../blocks/modules/popups/popups.html") -->
    @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
