<!DOCTYPE html>
<html lang="ru" class="custom-scrollbar">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="base-page">
      <section class="page-section start-contacts-srction">
        <div class="start-contacts-srction__decor"></div>
        <div class="start-contacts-srction__decor"></div>
        <div class="start-contacts-srction__decor"></div>
        <div class="container">
          <div class="page-section__wrapper w-sidebar">
            <div class="page-section__sidebar">
              <div class="page-section__sidebar-container">
                <div class="breadcrumbs">
                  <a href="#" class="breadcrumbs__item">Главная</a>
                  <a href="#" class="breadcrumbs__item">Портфолио</a>
                </div>
                <h1 class="h2">Заголовок</h1>
                <div class="sub28">
                  <p>
                    Веб-студия предлагает полный спектр услуг по созданию качественных IT-продуктов. Наша команда
                    специалистов придерживается принципа индивидуального подхода к каждому проекту, учитывая особенности
                    бизнеса и потребности заказчика.
                  </p>
                  <br />
                  <p>
                    Мы используем передовые методы и инструменты для дизайна и разработки, что позволяет нам создавать
                    современные и инновационные решения.
                  </p>
                </div>
              </div>
            </div>
            <div class="start-contacts-srction__img">
              <img src="./img/contacts-img-5.jpg" alt="" class="fit-cover" />
            </div>
          </div>
        </div>
      </section>
      <section class="page-section contacts-section">
        <div class="container">
          <div class="page-section__wrapper w-sidebar">
            <div>
              <div class="h2">Разработка сайтов</div>
            </div>
            <div>
              <div class="editor-content">
                <h4>
                  Предоставляем услуги по разработке сайтов под ключ. Работаем с доменами разного профиля, гарантируем
                  результаты работ. Создаем различные проекты от простых сайтов-визиток, лендингов до
                  многофункциональных e-com магазинов и корпоративных площадок. Работы выполняются полностью под ключ.
                </h4>
                <br />
                <br />
                <p>
                  Все хлопоты берем на себя. С вас – постановка задачи, с нас – результат. Предоставляем услуги по
                  разработке сайтов под ключ. Работаем с доменами разного профиля, гарантируем результаты работ. Создаем
                  разичные проекты от простых сайтов-визиток, лендингов до многофункциональных e-com магазинов и
                  корпоративных площадок. Работы выполняются полностью под ключ.
                </p>
                <br />
                <p>
                  Все хлопоты берем на себя. С вас – постановка задачи, с нас – результат. Предоставляем услуги по
                  разработке сайтов под ключ. Работаем с доменами разного профиля, гарантируем результаты работ. Создаем
                  разичные проекты от простых сайтов-визиток, лендингов до многофункциональных e-com магазинов и
                  корпоративных площадок. Работы выполняются полностью под ключ. чные проекты от простых сайтов-визиток,
                  лендингов до многофункциональных e-com магазинов и корпоративных площадок. Работы выполняются
                  полностью под ключ.
                </p>
                <br />
                <br />
                <p style="font-size: 38px">Наши услуги:</p>
                <br />
                <br />
                <ol style="font-size: 28px">
                  <li>Разработка сайтов под ключ</li>
                  <li>Разработка мобильных приложений</li>
                  <li>Внедрение и поддержка Битрикс24</li>
                  <li>Аутстаффинг IT-специалистов</li>
                </ol>
                <br />
                <br />
                <p>
                  Все хлопоты берем на себя. С вас – постановка задачи, с нас – результат. Предоставляем услуги по
                  разработке сайтов под ключ. Работаем с доменами разного профиля, гарантируем результаты работ. Создаем
                  разичные проекты от простых сайтов-визиток, лендингов до многофункциональных e-com магазинов и
                  корпоративных площадок. Работы выполняются полностью под ключ.
                </p>
                <br />
                <p>
                  Все хлопоты берем на себя. С вас – постановка задачи, с нас – результат. Предоставляем услуги по
                  разработке сайтов под ключ. Работаем с доменами разного профиля, гарантируем результаты работ. Создаем
                  разичные проекты от простых сайтов-визиток, лендингов до многофункциональных e-com магазинов и
                  корпоративных площадок. Работы выполняются полностью под ключ. чные проекты от простых сайтов-визиток,
                  лендингов до многофункциональных e-com магазинов и корпоративных площадок. Работы выполняются
                  полностью под ключ.
                </p>
                <br />
                <p>
                  Все хлопоты берем на себя. С вас – постановка задачи, с нас – результат. Предоставляем услуги по
                  разработке сайтов под ключ. Работаем с доменами разного профиля, гарантируем результаты работ. Создаем
                  разичные проекты от простых сайтов-визиток, лендингов до многофункциональных e-com магазинов и
                  корпоративных площадок. Работы выполняются полностью под ключ.
                </p>
                <br />
                <p>
                  Все хлопоты берем на себя. С вас – постановка задачи, с нас – результат. Предоставляем услуги по
                  разработке сайтов под ключ. Работаем с доменами разного профиля, гарантируем результаты работ. Создаем
                  разичные проекты от простых сайтов-визиток, лендингов до многофункциональных e-com магазинов и
                  корпоративных площадок. Работы выполняются полностью под ключ. чные проекты от простых сайтов-визиток,
                  лендингов до многофункциональных e-com магазинов и корпоративных площадок. Работы выполняются
                  полностью под ключ.
                </p>
                <br />
                <p>
                  Все хлопоты берем на себя. С вас – постановка задачи, с нас – результат. Предоставляем услуги по
                  разработке сайтов под ключ. Работаем с доменами разного профиля, гарантируем результаты работ. Создаем
                  разичные проекты от простых сайтов-визиток, лендингов до многофункциональных e-com магазинов и
                  корпоративных площадок. Работы выполняются полностью под ключ.
                </p>
                <br />
                <p>
                  Все хлопоты берем на себя. С вас – постановка задачи, с нас – результат. Предоставляем услуги по
                  разработке сайтов под ключ. Работаем с доменами разного профиля, гарантируем результаты работ. Создаем
                  разичные проекты от простых сайтов-визиток, лендингов до многофункциональных e-com магазинов и
                  корпоративных площадок. Работы выполняются полностью под ключ. чные проекты от простых сайтов-визиток,
                  лендингов до многофункциональных e-com магазинов и корпоративных площадок. Работы выполняются
                  полностью под ключ.
                </p>
                <br />
                <p>
                  Все хлопоты берем на себя. С вас – постановка задачи, с нас – результат. Предоставляем услуги по
                  разработке сайтов под ключ. Работаем с доменами разного профиля, гарантируем результаты работ. Создаем
                  разичные проекты от простых сайтов-визиток, лендингов до многофункциональных e-com магазинов и
                  корпоративных площадок. Работы выполняются полностью под ключ.
                </p>
                <br />
                <p>
                  Все хлопоты берем на себя. С вас – постановка задачи, с нас – результат. Предоставляем услуги по
                  разработке сайтов под ключ. Работаем с доменами разного профиля, гарантируем результаты работ. Создаем
                  разичные проекты от простых сайтов-визиток, лендингов до многофункциональных e-com магазинов и
                  корпоративных площадок. Работы выполняются полностью под ключ. чные проекты от простых сайтов-визиток,
                  лендингов до многофункциональных e-com магазинов и корпоративных площадок. Работы выполняются
                  полностью под ключ.
                </p>
                <br />
                <p>
                  Все хлопоты берем на себя. С вас – постановка задачи, с нас – результат. Предоставляем услуги по
                  разработке сайтов под ключ. Работаем с доменами разного профиля, гарантируем результаты работ. Создаем
                  разичные проекты от простых сайтов-визиток, лендингов до многофункциональных e-com магазинов и
                  корпоративных площадок. Работы выполняются полностью под ключ.
                </p>
                <br />
                <p>
                  Все хлопоты берем на себя. С вас – постановка задачи, с нас – результат. Предоставляем услуги по
                  разработке сайтов под ключ. Работаем с доменами разного профиля, гарантируем результаты работ. Создаем
                  разичные проекты от простых сайтов-визиток, лендингов до многофункциональных e-com магазинов и
                  корпоративных площадок. Работы выполняются полностью под ключ. чные проекты от простых сайтов-визиток,
                  лендингов до многофункциональных e-com магазинов и корпоративных площадок. Работы выполняются
                  полностью под ключ.
                </p>

                <br /><br />
                <img src="./img/service-1.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>

      @@include("../blocks/modules/ques-form-section/ques-form-section.html")
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
