.team-section {
  &__wrapper {
    background: url("../img/team-section-bg.jpg") center/cover no-repeat;
    height: 70rem;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 4rem;
  }

  &__wrapper-top {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $lg) {
      flex-direction: column;
    }

    @media screen and (max-width: $sm) {
      .section-title {
        margin-bottom: 2rem;
      }
    }
  }

  &__wrapper-top-text {
    text-align: right;
    font-size: 3.6rem;
    line-height: 120%;
    max-width: 60rem;

    @media screen and (max-width: $lg) {
      text-align: left;
      font-size: 2.4rem;
    }

    @media screen and (max-width: $sm) {
      font-size: 2rem;
    }
  }

  &__video {
    width: 28rem;
    height: 15rem;
    position: relative;
    display: block;
    border-radius: 1rem;
    overflow: hidden;

    &-arrow {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.3);
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $lg) {
      flex-direction: column;
      gap: 6rem;
    }
  }

  &__footer-text {
    max-width: 58rem;
  }

  &__footer-row {
    display: flex;
    gap: 7.8rem;
    padding-right: 7rem;

    @media screen and (max-width: $lg) {
      padding: 0;
      gap: 3rem;
      /* flex-direction: column; */
    }
  }

  &__footer-col {
    display: flex;
    flex-direction: column;

    &-number {
      font-size: 4.8rem;
      line-height: 120%;
      margin-bottom: 2rem;
    }

    &-title {
      margin-bottom: 1.6rem;
    }

    &-text {
      font-weight: 500;
      color: rgb(188, 188, 188);
    }
  }
}
