.request-section {
  /*   .page-section__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
  } */

  .page-section__sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .callback-form {
    max-width: 70rem;
  }

  &__img {
    max-width: 54rem;
    height: 32rem;
    width: 100%;
    border-radius: 4rem;
    overflow: hidden;
  }
}
