.request-section {
  .page-section__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
  }

  .page-section__sidebar {
    width: 100%;
    flex-shrink: 0;

    @media screen and (min-width: calc($lg + 1px)) {
      max-width: 70rem;
    }
  }

  &__img {
    max-width: 88.5rem;
    height: 53rem;
    width: 100%;
    border-radius: 4rem;
    overflow: hidden;
  }
}
