:root {
  --c-prime: #9b8af5;
  --c-graphite: #191b20;
  --main-font: "Roboto", sans-serif;

  --section-magrgin: 17rem;
}

body,
html {
  &.noskroll {
    overflow: hidden;
  }
}

html {
  width: 100%;
  font-size: 0.525vw;
  height: stretch;

  @media screen and (max-width: $lg) {
    font-size: 62.5%;
  }
}

body {
  position: relative;
  min-height: stretch;
  min-width: 320px;
  background: #fafafa;
  color: #000000;
  font-family: var(--main-font);
  font-weight: normal;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 120%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .page {
  padding-bottom: 100vh;
}
 */
img {
  max-width: 100%;
  max-height: 100%;

  &.is-initial {
    max-width: initial;
    max-height: initial;
  }

  &.fit-cover {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

video {
  max-width: 100%;
  max-height: 100%;

  &.is-initial {
    max-width: initial;
    max-height: initial;
  }

  &.fit-cover {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

strong {
  font-weight: 600;
}

canvas {
  display: block;
}

.text-link {
  transition: 0.3s;

  &:hover {
    color: var(--c-prime);
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 6rem;
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: var(--c-graphite);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: var(--c-prime);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  @supports not selector(::-webkit-scrollbar) {
    scrollbar-color: var(--c-prime) var(--c-graphite);
    scrollbar-width: thin;
  }
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.use-arrow {
  padding-right: 0;

  &:hover {
    .button__arrow svg {
      transform: translate(100%, -100%);

      &:first-child {
        transform: translate(0, 0);
      }
    }
  }
}

.button {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  border-radius: 3rem;
  padding: 0 2rem;
  transition: 0.3s;
  height: 5.4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  cursor: pointer;
  border: 2px solid transparent;

  &__arrow {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;

    svg {
      transition: 0.3s;
      width: 3.7rem;
      height: 3.6rem;

      &:first-child {
        position: absolute;
        transform: translate(-100%, 100%);
      }
    }
  }

  &.use-arrow {
    padding-right: 0;
  }

  &.is-primary {
    color: #ffffff;
    background: var(--c-graphite);
    border-color: var(--c-graphite);

    .button__arrow {
      background: #ffffff;

      path {
        stroke: var(--c-graphite);
      }
    }
  }

  &.is-ghost {
    background: transparent;
    border-color: var(--c-graphite);
    color: var(--c-graphite);

    .button__arrow {
      background: var(--c-graphite);

      path {
        stroke: #ffffff;
      }
    }
  }

  &.is-white {
    color: var(--c-graphite);
    background: #ffffff;
    border-color: #ffffff;

    .button__arrow {
      background: var(--c-graphite);

      path {
        stroke: #ffffff;
      }
    }
  }

  &.is-center {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: max-content;
  }
}

.form-input {
  position: relative;

  &__placeholder {
    position: absolute;
    top: 50%;
    left: 3.2rem;
    z-index: 5;
    transform: translate(0, -50%);
    color: rgba(0, 0, 0, 0.6);
    font-size: 3rem;
    font-weight: 500;
    line-height: 130%;
  }

  &.is-required {
    .form-input__placeholder {
      &::after {
        content: "*";
      }
    }
  }

  &.is-textarea {
    .form-input__placeholder {
      top: 3.2rem;
      transform: none;
    }
  }
}

.input {
  width: 100%;
  background: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  line-height: 130%;
  font-weight: 500;
  height: 10rem;
  padding: 0 3.2rem;
  transition: 0.3s;
  color: var(--c-graphite);
  position: relative;
  z-index: 2;
  font-size: 3rem;

  @media screen and (max-width: $md) {
    &:not(.textarea) {
      height: 5.6rem;
      padding: 0 2rem;
    }
  }

  &.is-error {
    color: var(--c-prime);
  }

  &:focus,
  &:not(:placeholder-shown) {
    & + .form-input__placeholder {
      display: none;
    }
  }
}

.textarea {
  padding: 3.2rem;
  height: 20rem;
  resize: none;
}

.phone-input {
  &__mask-switch {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 5;
    cursor: pointer;
  }

  &__main-icon {
    width: 2.4rem;
  }

  &__dropdown-item {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-weight: 500;
    padding: 10px;
    transition: 0.3s;
    color: var(--c-graphite);

    &:hover {
      background: #e7e7e7;
    }
  }

  &__mask-switch-dropdown {
    width: max-content;
    background: #fff;
    padding: 5px 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    transform: translate(0, 5px);
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--c-prime);

    &.is-active {
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
    }
  }
}

.file-input {
  max-width: 100%;

  input {
    display: none;
  }

  &__button {
    width: 100%;

    &::before,
    &::after {
      display: none;
    }
  }

  &__plus {
    transition: 0.3s;
    flex-shrink: 0;
  }

  &__name {
    text-overflow: ellipsis;
    display: block;
    flex-shrink: 0;
    overflow: hidden;
    text-wrap: nowrap;
    max-width: 100%;
  }

  &.is-active {
    .file-input__plus {
      transform: rotate(45deg);
    }
  }
}

.checkbox-input {
  display: flex;
  gap: 1rem;

  label {
    display: flex;
    gap: 1rem;
    cursor: pointer;
  }

  &__check {
    width: 2rem;
    height: 2rem;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &-icon {
      transform: scale(0);
      transition: 0.3s;
    }
  }

  /* &__radio {
    width: 24px;
    height: 24px;
    background: #d7dfe7;
    border-radius: 50%;
    flex-shrink: 0;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #ffffff;
      opacity: 0;
      transition: 0.2s;
    }
  } */

  &__placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 120%;

    a {
      color: var(--c-prime);
    }
  }

  input {
    display: none;

    &:checked + .checkbox-input__check {
      .checkbox-input__check-icon {
        transform: scale(1);
      }
    }

    /* &:checked + .checkbox-input__radio {
      background: var(--c-primary);

      &::before {
        opacity: 1;
      }
    } */
  }
}

/* .is-underline-in {
  position: relative;
  max-width: max-content;

  &::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: calc(-2px);
    border-bottom: 0.05em solid currentColor;
    transform-origin: left;
    transform: scale(0, 1);
    transition: 0.2s ease-in-out;
  }

  &:hover {
    &::after {
      transform: scale(1, 1);
    }
  }
}
 */
.sub20 {
  font-size: 2rem;
  line-height: 110%;

  @media screen and (max-width: $sm) {
    font-size: 1.8rem;
  }
}

h1,
.h1 {
  font-size: 20rem;
  line-height: 110%;

  /*   @media screen and (max-width: $sm) {
    font-size: 2.2rem;
  } */
}

h2,
.h2 {
  font-size: 10rem;
  line-height: 120%;

  /*   @media screen and (max-width: $lg) {
    font-size: 4.8rem;
  }

  @media screen and (max-width: $sm) {
    font-size: 4rem;
  } */
}

.sub40 {
  font-size: 4rem;
  line-height: 120%;
}

.page-section {
  margin-bottom: var(--section-magrgin);

  &:last-child {
    margin-bottom: 0;
  }
}

.section-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;

  @media screen and (max-width: $sm) {
    margin-bottom: 2rem;
  }
}

.callback-form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* ul {
  padding-left: 2rem;

  li {
    list-style-type: disc;
    font-weight: 500;
    line-height: 140%;
  }
} */

/* .swiper-button {
  cursor: pointer;
  &.swiper-button-disabled {
    opacity: 0.2;
    cursor: initial;
  }
}

.swiper-pagination-bullet {
  background: #fff;
  opacity: 0.8;
  &.swiper-pagination-bullet-active {
    background: var(--c-prime);
  }
} */

/* html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
} */

/* .error-page {
  height: 100svh;
  background: var(--c-graphite);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__logo {
    width: 90%;
    display: flex;
    justify-content: center;

    @media screen and (max-width: $md) {
      position: absolute;
      top: 4rem;
      left: 50%;
      transform: translate(-50%, 0);
    }

    svg {
      max-width: 100%;
      height: auto;
    }
  }

  &__status {
    font-size: 12rem;

    @media screen and (max-width: $md) {
      font-size: 10rem;
    }
  }
} */

.start-window {
  &__title {
    margin-bottom: 1rem;
  }

  &__subtext {
    font-size: 3.6rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5rem;
    line-height: 120%;
  }

  &__wrapper {
    position: relative;
  }

  &__image {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__decor {
    z-index: 10;
    &:nth-child(1) {
      position: absolute;
      left: 0;
      top: 0;
      width: 21rem;
      height: 5rem;
      background: var(--c-prime);
      border-radius: 3rem;
    }

    &:nth-child(2) {
      width: 6.8rem;
      height: 6.8rem;
      background: var(--c-prime);
      position: absolute;
      left: 10%;
      bottom: -3%;
      border-radius: 50%;
    }

    &:nth-child(3) {
      width: 12.2rem;
      height: 12.2rem;
      background: var(--c-graphite);
      position: absolute;
      left: 0;
      bottom: -13%;
      border-radius: 50%;
    }
  }
}
